.animation {
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.cardWrapper-specialties {
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -ms-transition: all .3s ease;
    transition: all .3s ease;
    width: auto !important;
    height: auto;
    padding: 0 3px 0 0;
    .card-specialties {
        width: 19.87em !important;
        height: 20.5em;
        cursor: pointer;
        -webkit-transition: -webkit-transform 0.6s;
        -moz-transition: -moz-transform 0.6s;
        -o-transition: -o-transform 0.6s;
        transition: transform 0.6s;
        -webkit-transform-style: preserve-3d;
        -moz-transform-style: preserve-3d;
        -o-transform-style: preserve-3d;
        transform-style: preserve-3d;
        z-index: 0;
       
        .front,
        .back {
            display: block;
            height: 100%;
            width: 100%;
            text-align: center;
            position: absolute;
            -webkit-backface-visibility: hidden;
            -moz-backface-visibility: hidden;
            -o-backface-visibility: hidden;
            backface-visibility: hidden;
            .cardTitle {
                font-family: $font-bold-internas;
                font-size: 1em;
            }
        }

        .front {
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: $color-gray;
        }

        .back {
            -webkit-transform: rotateY(180deg);
            -moz-transform: rotateY(180deg);
            -o-transform: rotateY(180deg);
            transform: rotateY(180deg);
            //: 104%;
            //z-indexz-index: 1;
                
            .content-back {
                height: 100%;
                background-color: $color-secondary;        
                .img-back {
                    height: 66%;
                    border-bottom: 3px solid $color-primary;
        
                    img {
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                    }
                }
            }
        
            .info-card-back {
                padding: 0 2em;
                color: $color-white;
        
                .cardTitle {
                    margin: 1em 0 .7em;
                }
        
                .p-internas {
                    font-size: .7em;
                    line-height: 1.6;
                }
            }
        }
    }
    >.card-specialties.flipped {
        z-index: 1000 !important;
        -webkit-transform: rotateY(180deg);
        -moz-transform: rotateY(180deg);
        -o-transform: rotateY(180deg);
        position: relative;
        .back {
            height: 104%;
            .content-back {
                height: 104%;
                width: 104%;
            }
        }
    }
    
}

.content-card-specialties {
    .slick-dots {
        position: absolute;
        left: 0;
        right: 0;
        bottom: 6%;
        li > button {
            background-color: $color-lightBlack;
        }
        li.slick-active > button {
            background-color: $color-primary;
        }
    }
    .slick-slide {
        //width: 21.9em !important;
        height: auto;
        > div {
            width: 100%;
            height: 100%;
            //display: flex;
        }
    }
}