.sct-testimonials {
    background-color: $color-gray;
}
.wrapper-slider-testimonials {
    width: 80%;
    margin: auto;

    .slider {
        position: relative;
        margin: 50px auto 0;
        padding: 0 30px;
        //max-width: 1200px;
    }

    .slide-container {
        box-sizing: border-box;
        padding: 25px;
        position: relative;

        img {
            opacity: 0.75
        }
    }

    .slick-center .slide-container {
        padding: 25px 0;
        z-index: 1000;

        img {
            //box-shadow: 0px 4px 12px #666;
            transition: transform 300ms ease-in;
            transform: scale(1.25);
            opacity: 1;
            margin-top: -10px
        }
    }

    .slick-arrow {
        background-color: transparent;
        border: 0;
        position: absolute;
        top: calc(50% - 25px);
        height: 0;
        overflow: hidden;
        padding: 50px 0 0 0;
        width: 20px;

        &::before {
            content: '';
            position: absolute;
            top: calc(50% - 1rem);
            font-size: 2rem;
            line-height: 1;
            display: block;
        }

        &.slick-next {
            right: 0;

            &::before {
                content: '>';
                right: 0;
            }
        }

        &.slick-prev {
            left: 0;

            &::before {
                content: '<';
            }
        }
    }

    .slick-list {
        position: relative;
        display: block;
        overflow: hidden;
        margin: 0;
        padding: 0;
    }

    .slick-list.dragging {cursor: pointer;cursor: hand;}

    .slick-slider .slick-track,
    .slick-slider .slick-list {transform: translate3d(0, 0, 0);}

    .slick-track {
        position: relative;
        top: 0;
        left: 0;
        display: block;
        padding: 50px 0;
    }

    .slick-track:before,
    .slick-track:after {
        display: table;
        content: '';
    }

    .slick-track:after {clear: both;}

    .slick-loading .slick-track {visibility: hidden;}

    .slick-slide {
        display: none;
        float: left;
        height: 100%;
        min-height: 1px;
    }

    .slick-slide img {
        display: block;
        max-width: 100%;
        height: auto;
    }

    .slick-slide.slick-loading img {display: none;}

    .slick-slide.dragging img {pointer-events: none;}

    .slick-initialized .slick-slide {display: block;}

    .slick-loading .slick-slide {visibility: hidden;}

    .slick-vertical .slick-slide {
        display: block;
        height: auto;
        border: 1px solid transparent;
    }

    .slick-arrow.slick-hidden {display: none;}
    .info-testimonial {
        position: absolute;
        top: 0;
        left: 0;

        .img-person {
            width: 6.8em;
            height: 6.8em;
            border-radius: 50%;
            overflow: hidden;
            border: 3px solid #c5cbd8;
            margin: auto;
        }
    }
}