.wrapper-filter {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: $color-primary;
    width: 100%;
    padding: 1.5em 0 1.2em;
    margin-bottom: 1.9em;

    .dropdown {
        width: 18.5%;
        display: inline-block;
        transition: all .5s ease;
        position: relative;
        color: $color-white;
        text-align: center;
        border: none;
        text-transform: uppercase;
        font-family: $font-bold-internas;
        outline: none;

    }

    .dropdown .select {
        cursor: pointer;
        display: flex;
        padding: 10px 10px 5px;
        justify-content: space-between;
        align-items: center;
        border-bottom: 1px solid $color-secondary;

        .icon-select {
            color: $color-secondary;
            font-size: 1.6em;
        }

        .title-select {
            font-size: .8em;
        }
    }

    .dropdown .select>.icon-triangle-down {
        font-size: 13px;
        cursor: pointer;
        transition: all .3s ease-in-out;
        float: right;
    }

    .dropdown.active .select>.icon-triangle-down {
        transform: rotate(-180deg)
    }

    .dropdown .dropdown-menu {
        position: absolute;
        background-color: #fff;
        width: 100%;
        left: 0;
        margin-top: 1px;
        box-shadow: 0 1px 2px rgb(204, 204, 204);
        overflow: hidden;
        display: none;
        max-height: 144px;
        overflow-y: auto;
        z-index: 9
    }

    .dropdown .dropdown-menu li {
        padding: 10px 0 5px;
        transition: all .2s ease-in-out;
        cursor: pointer;
        color: $color-primary;
        font-size: .6em;
    }

    .dropdown .dropdown-menu {
        padding: 13px 0 0;
        list-style: none
    }

    .dropdown .dropdown-menu li:hover {
        background-color: #f2f2f2
    }

    .dropdown .dropdown-menu li:active {
        background-color: #e2e2e2
    }

    .dropdown-menu::-webkit-scrollbar {
        width: 10px;
    }

    .dropdown-menu::-webkit-scrollbar-track {
        background-color: #009fde88;
    }

    .dropdown-menu::-webkit-scrollbar-thumb {
        background-color: $color-secondary;
    }

}