.hg-100 {
    height: 100%;
}
.pd-x-0 {
    padding-left: 0;
    padding-right: 0;
}
.row {
    width: 100%;
    margin: auto;
}
.float-left {
    float: left;
}
.flex {
    display: flex;
    align-items: center;
}
.flex-wrap {
    flex-wrap: wrap;
}
.d-flex {
    display: flex;
}
.justContentCenter {
    justify-content: center;
}
.jContentB {
    justify-content: space-between;
}
.flex-column {
    flex-direction: column;
}
/*typografia*/
.p-internas {
    font-family: $font-internas;
}
.p-internasBold {
    font-family: $font-bold-internas;
    font-weight: bold;
}
.internasBold {
    font-family: $font-bold-internas;
}
.titlesBig {
    font-family: $font-titles;
}
/*colors*/
.colorPrimary {
    color: $color-primary;
}
/*btns*/
.btn {
    border: none;
    outline: none;
}