@font-face {
    font-family: 'poppinsextrabold';
    src: url('../fonts/poppins-extrabold-webfont.woff2') format('woff2'),
         url('../fonts/poppins-extrabold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'poppinslight';
    src: url('../fonts/poppins-light-webfont.woff2') format('woff2'),
         url('../fonts/poppins-light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'poppinsregular';
    src: url('../fonts/poppins-regular-webfont.woff2') format('woff2'),
         url('../fonts/poppins-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'poppinssemibold';
    src: url('../fonts/poppins-semibold-webfont.woff2') format('woff2'),
         url('../fonts/poppins-semibold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
  font-family: 'poppinsbold';
  src: url('../fonts/poppins-bold-webfont.woff2') format('woff2'),
       url('../fonts/poppins-bold-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}
/*************
    ICONS
**************/
@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon/icomoon.eot?koyis6');
  src:  url('../fonts/icomoon/icomoon.eot?koyis6#iefix') format('embedded-opentype'),
    url('../fonts/icomoon/icomoon.ttf?koyis6') format('truetype'),
    url('../fonts/icomoon/icomoon.woff?koyis6') format('woff'),
    url('../fonts/icomoon/icomoon.svg?koyis6#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-circle:before {
  content: "\e90b";
}
.icon-app:before {
  content: "\e900";
}
.icon-calendar:before {
  content: "\e901";
}
.icon-citas:before {
  content: "\e902";
}
.icon-estetoscopio:before {
  content: "\e903";
}
.icon-hojasLeft:before {
  content: "\e904";
}
.icon-hojasRight:before {
  content: "\e905";
}
.icon-medico:before {
  content: "\e906";
}
.icon-phone:before {
  content: "\e907";
}
.icon-sobre:before {
  content: "\e908";
}
.icon-triangle-down:before {
  content: "\e909";
}
.icon-ubication:before {
  content: "\e90a";
}
