/**************
    COLORS
**************/
$color-primary: #003989;
$color-secondary: #00a0de;
$color-terciary: #c60c30;
$color-white: #fff;
$color-gray: #f2f4f7;
$color-lightBlack : #919194;
$color-brightOrange: #f5b73e;
$color-vino: #851d42;
$color-lightBlue: #65b1ef;
/**************
    BOTONES
**************/
$btn-primary: #c60c30;

/****************
    TYPOGRAFIA
*****************/
$font-titles: 'poppinsextrabold';
$font-bold-internas: 'poppinsbold';
$font-internas: 'poppinsregular';