.info-form {
    .p-internas {
        font-size: .85em;
    }

    .phones-info-form {
        padding: 2.5em 0;
        float: left;
        margin-right: 1.3em;

        .phoneInfoForm {
            position: relative;
            font-size: 1.2em;
            color: $color-primary;
            text-decoration: none;

            &:before {
                position: absolute;
                content: '';
                font-family: $font-internas;
                font-size: 12px;
                top: -21px;
                left: 30px;
            }

            &.quotes:before {
                content: 'Central Citas'
            }

            &.reports:before {
                content: 'Central Informes'
            }

            .icon-phone {
                margin-right: 6px;
                font-weight: bold;
                font-size: 1.2em;
            }
        }
    }

    .icon-form {
        color: $color-primary;
    }
}

.sct-participate {
    position: relative;
    padding: 2.2em 0;

    .icon-container {
        .icon-participate {
            width: 5em;
            margin-right: 1.1em;

            &.two,
            &.three {
                width: 6em;
            }
        }
    }

    .titles-participate {
        .internasBold {
            font-size: 1.06em;
            margin-top: 0;
        }

        >.p-internas {
            font-size: .75em;
            opacity: .8;
        }

        .content-btn-participate {

            //margin-top: 1em;
            .btn-participate {
                color: $color-white;
                font-size: 0.845em;
                float: left;
                //width: 100%;
                height: 100%;
                position: relative;
                padding: 0.9em 4em;
                border-radius: 4px;
                background-color: $color-secondary;
            }
        }
    }
}

.arrow-ancla {
    position: absolute;
    z-index: 10;
    bottom: 3%;
    width: 38px;
    margin: auto;
    left: 0;
    right: 0;
}

.sct-counting {
    background-image: url('/assets/images/bg-counting.jpg');
    background-size: 100% 100%;
    background-repeat: no-repeat;
    width: 100%;
    height: 15.5em;
    position: relative;
    color: $color-white;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;

    .img-icon {
        width: 3em;
        height: 3em;
        margin: 0 auto .5em;

        .icon-counting {
            width: 100%;
            height: 100%;
        }
    }

    .num {
        font-size: 2.5em;
    }

    .p-internas {
        font-size: .9em;
    }
}

/*
SECCION CITAS
*/
.sct-filter-quotes {
    background-color: $color-gray;
    //margin-bottom: 1em;

    .wrapper-app,
    .wrapper-quotes {
        background-repeat: no-repeat;
        background-size: cover;
        padding: 2em 0;
        margin-bottom: 2.5em;

        .titlesBig {
            margin: .8em 0 .7em;
        }
        .content-app,.content-quotes {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }
    }

    .wrapper-quotes {
        background-image: url('/assets/images/bg-citas.jpg');
        color: $color-white;

        .content-quotes {

            .icon-citas {
                font-size: 3em;
            }

            .p-internas {
                font-size: 0.8em;
                text-align: center;
                margin-bottom: 1.3em;
                line-height: 1.5;
            
            }

            .form {
                width: 55.5%;

                .form__wrapper {
                    background-color: $color-white;
                    width: 100%;
                }

                .form__input {
                    height: 2.5em;
                    background: -webkit-linear-gradient(top, rgba(255, 255, 255, 0) 94%, $color-primary 4%);
                    background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 94%, $color-primary 4%);
                    background-position: -800px 0;
                    background-size: 100% 100%;
                    background-repeat: no-repeat;

                    &:focus {
                        background-position: 0 0;
                    }
                }

                .form__label-content {
                    position: relative;
                }
            }

            .rg-Cntr {
                color: $color-white;
                transition: all .3s;
                &.reg {
                    margin: 1.2em 0 .5em;
                }
                &.cambCont {
                    font-size: .7em;
                }
                &:hover {
                    color: $color-primary;
                }
            }
        }

    }

    .wrapper-app {
        background-image: url('/assets/images/bg-app.jpg');
        position: relative;
        justify-content: flex-end;

        .content-app {

            .icon-app {
                color: $color-secondary;
                font-size: 4em;
            }

            .list-stepsApp {
                margin-bottom: 2em;
                .item-stepsApp {
                    line-height: 1.5;

                    .span-stepsApp {
                        position: relative;
                        font-size: .9em;
                        &:before {
                            content: "\e90b";
                            position: absolute;
                            left: -16px;
                            font-family: 'icomoon' !important;
                            color: $color-terciary;
                            font-size: 8px;
                            top: 4px;
                        }
                    }
                    
                }
            }

            .img-downloadApp {
                width: 10.6em;
                margin-bottom: 1em;
            }
        }
    }

    .content-imgMovil {
                
        img {
            position: absolute;
            left: 0;
            right: 0;
            margin: auto;
            bottom: 0;
        }
    }
}

.btn-inSesion {
    background-color: $btn-primary;
    font-family: $font-bold-internas;
    width: 35%;
    padding: .6em 0;
    border-radius: 4px;
}